@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-Regular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-Medium.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-Bold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}

@theme {
  --font-Poppins: "Poppins", sans-serif;
}

@layer base {
  html {
    @apply scroll-smooth scroll-p-16;
  }
  body {
    @apply overflow-x-hidden font-Poppins text-black/80 text-base bg-white;
  }

  .container {
    @apply max-w-7xl w-full mx-auto px-4;
  }

  h1 {
    @apply text-[clamp(2rem,6vw,3rem)] font-bold;
  }
  h2 {
    @apply text-[clamp(1.5rem,5vw,2.5rem)] font-bold;
  }
  h3 {
    @apply text-[clamp(1.25rem,4vw,2rem)] font-bold;
  }
  h4 {
    @apply text-[clamp(1rem,3vw,1.75rem)] font-bold;
  }
  h5 {
    @apply text-xl font-semibold;
  }
  h6 {
    @apply text-lg font-semibold;
  }
}

@layer components {
  header {
    @apply bg-white;
  }
  .headerNav {
    @apply flex justify-between;
  }
  .headerNav ul {
    @apply flex flex-col gap-5 fixed w-full top-26 text-left items-start overflow-hidden right-0 h-0 opacity-0 duration-300 
    /* Desktop View */
    md:opacity-100 md:flex-row md:items-center md:top-auto md:h-auto md:static;
  }

  .headerNav ul li a {
    @apply text-xl font-extrabold;
  }
  .headerNav ul.open {
    @apply h-fit opacity-100 bg-white shadow-md w-full top-22 px-4 pb-3 duration-300;
  }

  .header__btn {
    @apply text-xl  hidden lg:block mt-2;
  }

  .toggleMenu span {
    @apply inline-block w-5 h-0.5 rounded-xl bg-black/80
    md:hidden;
  }

  .toggleMenu.open span:first-child {
    @apply rotate-45 translate-y-2 duration-100;
  }
  .toggleMenu.open span:nth-child(2) {
    @apply opacity-0;
  }
  .toggleMenu.open span:last-child {
    @apply -rotate-45 -translate-y-1 duration-100;
  }

  .toggleMenu {
    @apply flex flex-col gap-1
    md:hidden;
  }

  .transparent {
    @apply hidden;
  }

  .transparent.open {
    @apply block fixed h-screen w-full backdrop-blur-sm left-0 top-75 duration-300 overflow-y-hidden;
  }

  .btn {
    @apply inline-block px-6 py-3 rounded-lg font-medium text-center w-auto;
  }

  .btn--green {
    @apply bg-green-950 text-white p-5;
  }

  .cards {
    @apply flex flex-row gap-4 items-center;
  }

  .cards__details {
    @apply flex flex-col gap-3;
  }

  .cards__details h3 {
    @apply text-green-950;
  }
}
